:root {
    --container-margin: 1rem;
}
body::before {
    background: url("/img/astronomy-atmosphere-earth-220201.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-filter: blur(0.3rem);
    -moz-filter: blur(0.3rem);
    -o-filter: blur(0.3rem);
    -ms-filter: blur(0.3rem);
    filter: blur(0.3rem);
    top: 0;
    left: 0;
    /*animation-name: bgclear;*/
    /*animation-duration: 3s;*/
    /*animation-delay: 2s;*/
}
.container {
    display: flex;
    justify-content: center;
    max-width: calc(100% - var(--container-margin)*2);
    min-height: calc(100% - var(--container-margin)*2);
    padding: 0px;
    margin: var(--container-margin);
}
.grey-box {
    min-width: 16rem;
    max-width: 40rem;
    width: 50%;
    text-align: center;
    background-color: var(--light);
    padding: 1rem;
    border-radius: 1rem;
}

/* Following Line were Customized for iPhone X */
/*padding-top: env(safe-area-inset-top);*/
/*padding-right: env(safe-area-inset-right);*/
/*padding-bottom: env(safe-area-inset-bottom);*/
/*padding-left: env(safe-area-inset-left);*/

/*Small devices (landscape phones, 576px and up)*/
/*@media (min-width: 576px) { ... }*/
/*Medium devices (tablets, 768px and up)*/
/*@media (min-width: 768px) { ... }*/
/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) { ... }*/
/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/

/* Targeting iPhone with Special Pixel Ratio */
/* iPhone 5, 6,  6s,  7,  8  with Ratio of 2 */
/* iPhone X, 6+, 6s+, 7+, 8+ with Ratio of 3 */

@media (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
(-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    html, table {
        font-size: 40px;
    }
}

@media (-webkit-device-pixel-ratio: 2) and (orientation: landscape),
(-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
    html, table {
        font-size: 24px;
    }
}

@keyframes bgclear {
    from {
        -webkit-filter: blur(0.3rem);
        -moz-filter: blur(0.3rem);
        -o-filter: blur(0.3rem);
        -ms-filter: blur(0.3rem);
        filter: blur(0.3rem);
    }
    to {
        -webkit-filter: blur(0rem);
        -moz-filter: blur(0rem);
        -o-filter: blur(0rem);
        -ms-filter: blur(0rem);
        filter: blur(0rem);
    }
}
