html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
}

input {
    text-align: center;
    text-transform: uppercase; 
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    input {
        width: 50% !important;
        margin: auto;
    }
}